// footer
footer {
    background-color: #e5e6e7;
    position: relative;
    /* ↑ 讓icon跟隨 */
    padding-top: 30px;

    .footer-logo {
        text-align: center;
        color: $mainbg;

        img {
            height: 100px;
        }

        .footer-logo-text {
            font-size: 22px;
            letter-spacing: 12px;
            padding-left: 10px;
        }
    }

    .container{
        // ↓ 手機版設定
        .footer-information-com{
            display: none;
        }
        .footer-information-mobile{
            display: flex;
            text-align: center;
            color: $footerIcon;
        }
        // ↓ 電腦版設定
        @media (min-width: 410px) {
            .footer-information-com{
                display: block;
                text-align: center;
                color: $footerIcon;
            }
            .footer-information-mobile{
                display: none;
            }
        }
    }

    .footer-icon-group {
        position: absolute;
        left: calc(50% - 97.5px);
        bottom: 25%;
        background-color: $footerbg;
        text-align: center;
        z-index: 999;
        /* ↑ 讓icon群浮上來蓋過線 */
        /* ↓ 讓線別貼邊 */
        padding: 0 10px;

        i {
            font-size: 35px;
            margin: 0 12px;
            color: $footerIcon;
        }
        i:hover{
            color: $mainbg;
        }
    }

    .footer-copyright {
        font-size: 15px;
        border-top: 1px solid;
        max-width: 1220px;
        /* ↑ 底線對齊上面LOGO與訂位 */
        margin: 0 auto;
        margin-top: 60px;
        padding: 30px 0;
        text-align: center;
        color: $footerIcon;
    }
}