//margin-top-130px
$mt-130:130px;
//標題字體大小
$titletext:28px;
//副標題字體大小
$titletext2:20px;
// 主色調顏色
$mainbg: #c39c61;
//常用的灰色
$footerbg: #e5e6e7;
//常用紅色
$wowred:#B4000D;
// footer的icon顏色
$footerIcon: #414042;
//標題色塊淺咖啡色
$titlebg:#D7C4A8;