@charset "UTF-8";
@media (max-width: 992px) {
  .navbar {
    width: 100vw;
    position: fixed !important;
    z-index: 51;
  }
}

nav {
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 992px) {
  nav {
    background-color: rgba(35, 31, 32, 0.7);
  }
}

nav .container {
  max-width: 90vw;
  padding: 0;
}

@media (min-width: 1800px) {
  nav .container {
    max-width: 1800px;
  }
}

@media (max-width: 992px) {
  nav .container {
    max-width: unset;
  }
}

nav .container .navbar-brand {
  padding: 0;
}

@media (max-width: 992px) {
  nav .container .navbar-brand {
    margin-left: calc(45vw - 100px);
  }
}

nav .container .navbar-brand #nav-logo-img {
  width: 200px;
}

@media (max-width: 450px) {
  nav .container .navbar-brand #nav-logo-img {
    width: 55.559%;
    margin-left: 5vw;
  }
}

@media (max-width: 992px) {
  nav .container .navbar-toggler {
    position: fixed;
    left: 15px;
    top: 20px;
    border: none;
  }
  nav .container .navbar-toggler .navbar-toggler-icon {
    background-image: none;
  }
  nav .container .navbar-toggler .navbar-toggler-icon i {
    font-size: 30px;
    color: white;
  }
}

nav .container .maxwww {
  min-width: 85px;
  /* 版面縮減才不會變形 */
}

@media (max-width: 992px) {
  nav .container #navbarNavDropdown a {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100vw;
  }
}

nav .container #navbarNavDropdown #book-border {
  margin: auto 0;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 2px 0;
}

@media (max-width: 992px) {
  nav .container #navbarNavDropdown #book-border {
    display: none;
  }
}

nav .container #navbarNavDropdown #book-border .book-side {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 0 3px;
}

nav .container #navbarNavDropdown #book-border .book-side #book-text {
  background-color: black;
  padding: 1px 8px;
  color: #c39c61;
  font-size: 16px;
}

@media (max-width: 992px) {
  nav .container #navbarNavDropdown li:active {
    background-color: #c39c61;
  }
}

nav .booking-icon {
  font-size: 30px;
  position: absolute;
  right: 40px;
  top: 15px;
}

nav .booking-icon a {
  color: white;
}

body {
  font-family: "Merriweather", "Noto Serif TC", serif;
  width: 100%;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  top: 0;
}

nav .navbar-brand {
  z-index: 50;
}

nav .navbar-toggler {
  z-index: 50;
}

nav .nav-item {
  z-index: 50;
}

section#about {
  width: 100%;
}

section#about .about-grain1 {
  width: 100%;
  z-index: 49;
}

section#about .about-grain1 img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1038px;
}

@media (max-width: 768px) {
  section#about .about-grain1 img {
    height: 920px;
  }
}

section#about .about-grain1 .container {
  max-width: 90vw;
}

@media (min-width: 1800px) {
  section#about .about-grain1 .container {
    max-width: 1800px;
  }
}

@media (max-width: 768px) {
  section#about .about-grain1 .container {
    max-width: unset;
  }
}

section#about .about-grain1 .container img {
  max-width: 90vw;
  height: 385px;
  margin: 200px auto 0 auto;
  margin-left: -15px;
  z-index: 50;
}

@media (min-width: 1800px) {
  section#about .about-grain1 .container img {
    max-width: 1800px;
  }
}

@media (max-width: 992px) {
  section#about .about-grain1 .container img {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  section#about .about-grain1 .container img {
    width: 100vw;
    height: 52vh;
    max-width: unset;
  }
}

section#about .about-grain1 .container .about-banner {
  z-index: 50;
  position: relative;
}

section#about .about-grain1 .container .about-banner .about-banner-color1 {
  width: 70px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  right: 140px;
  top: -610px;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner .about-banner-color1 {
    width: 50vw;
    max-width: 300px;
    height: 70px;
    margin-left: 28vw;
    right: unset;
    margin-top: 290px;
  }
}

section#about .about-grain1 .container .about-banner .about-banner-color1 .about-banner-text1 {
  font-size: 34px;
  font-weight: normal;
  line-height: 38px;
  position: absolute;
  top: 20px;
  left: -10px;
  border: 3.5px solid black;
  padding: 67px 17px;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner .about-banner-color1 .about-banner-text1 {
    width: 52vw;
    max-width: 310px;
    padding: 13px 30px;
    text-align: center;
    left: -3vw;
    top: -10px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 {
  margin-top: 679px;
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left {
  width: 61.8%;
  z-index: 50;
  font-size: 20px;
  text-align: end;
  line-height: 25px;
  position: relative;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left {
    position: absolute;
    right: calc(50vw - 175px);
    top: -28vh;
  }
}

@media (max-width: 375px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left {
    right: calc(50vw - 140px);
    padding: 0 10px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2G {
  position: absolute;
  right: 305px;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2G {
    right: 255px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2G .aboutText2GColor {
  width: 25px;
  height: 177px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 10px;
  top: 36px;
  z-index: -1;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2G .aboutText2GColor {
    left: 5px;
    height: 150px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2F {
  position: absolute;
  right: 255px;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2F {
    right: 215px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2F .aboutText2FColor {
  width: 22px;
  height: 196px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 10px;
  top: -25px;
  z-index: -1;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2F .aboutText2FColor {
    height: 188px;
    left: 7px;
    top: -15px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2E {
  position: absolute;
  right: 205px;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2E {
    right: 175px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2E .aboutText2EColor {
  width: 25px;
  height: 72px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 10px;
  top: 144px;
  z-index: -1;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2E .aboutText2EColor {
    left: 5px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2E .aboutText2ELine {
  width: 100px;
  height: 68px;
  position: absolute;
  left: 17px;
  top: 155px;
  border-left: 1px solid #AF000D;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2E .aboutText2ELine {
    left: 10px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2D {
  position: absolute;
  right: 155px;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2D {
    right: 135px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2D .aboutText2DColor {
  width: 25px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 10px;
  top: 75px;
  z-index: -1;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2D .aboutText2DColor {
    left: 5px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2D .aboutText2DLine {
  width: 100px;
  height: 92px;
  position: absolute;
  left: 17px;
  top: 130px;
  border-left: 1px solid #AF000D;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2D .aboutText2DLine {
    left: 10px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2C {
  position: absolute;
  right: 105px;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2C {
    right: 95px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2C .aboutText2CColor {
  width: 25px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 10px;
  top: 25px;
  z-index: -1;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2C .aboutText2CColor {
    top: 85px;
    left: 4px;
    height: 220px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2B {
  position: absolute;
  right: 55px;
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2B .aboutText2BColor {
  width: 25px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 10px;
  top: 60px;
  z-index: -1;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2B .aboutText2BColor {
    left: 2px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2A {
  position: absolute;
  right: 0;
  top: 24px;
  font-weight: bolder;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2A {
    right: -12px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2A .aboutText2ALine {
  width: 100px;
  height: 115px;
  position: absolute;
  left: -10px;
  top: 5px;
  border-left: 1px solid #AF000D;
}

@media (max-width: 768px) {
  section#about .about-grain1 .container .about-banner #about-text2 .col-gold-left .aboutText2A .aboutText2ALine {
    display: inline-block;
    max-width: 10px;
  }
}

section#about .about-grain1 .container .about-banner #about-text2 .col-gold-right {
  width: 38.2%;
}

section#about .about-second {
  margin-top: 540px;
  width: 100%;
}

@media (max-width: 768px) {
  section#about .about-second {
    margin-top: 240px;
  }
}

section#about .about-second .row {
  width: 100%;
}

section#about .about-second .row .col-gold-left {
  width: 61.8%;
  z-index: 50;
  background-color: #DCBFA8;
  padding-bottom: 80px;
}

section#about .about-second .row .col-gold-left img {
  width: 100%;
  margin-top: 0;
}

section#about .about-second .row .col-gold-right {
  width: 38.2%;
  position: relative;
}

section#about .about-second .row .col-gold-right .about-secondA {
  max-width: 295px;
  width: 21.6vw;
  height: 377px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: -176px;
  left: -30px;
  padding: 45px 10px;
  z-index: 50;
}

section#about .about-second .row .col-gold-right .about-secondA img {
  width: 100%;
}

section#about .about-second .row .col-gold-right .about-secondB {
  max-width: 501px;
  width: 35.5vw;
  height: 207px;
  background-color: #DCBFA8;
  position: absolute;
  bottom: 30px;
  left: -63px;
  padding: 10.5px 12px;
  z-index: 50;
}

section#about .about-second .row .col-gold-right .about-secondB img {
  width: 100%;
}

section#about .about-second .about-grain2 {
  width: 100%;
  position: relative;
}

section#about .about-second .about-grain2 img {
  width: 100%;
  position: absolute;
  top: -33px;
  z-index: -2;
  max-height: 1456px;
}

@media (max-width: 768px) {
  section#about .about-second .about-grain2 img {
    height: 1150px;
  }
}

section#about .about-second .about-grain2 .about-text3-mobile {
  width: 100vw;
  height: 10vh;
  background-color: #D6B9A2;
  position: relative;
  z-index: 0;
}

section#about .about-second .about-grain2 .about-text3-mobile p {
  width: auto;
  position: absolute;
  top: 40px;
  right: calc(50vw - 138px);
  border: 2px solid black;
  padding: 0.5vh 8vw;
  font-size: 34px;
  letter-spacing: 4px;
}

section#about .about-second .about-grain2 .about-text3-mobile .about-text3-color-mobile {
  max-width: 270px;
  width: 38vw;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 29vw;
  top: 30px;
  z-index: -1;
}

section#about .about-second .about-grain2 .container .about-text3-colorA {
  width: 70px;
  height: 255px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  margin-top: -92px;
  margin-left: 133px;
  z-index: 50;
}

section#about .about-second .about-grain2 .container .about-text3-colorA .about-text3 {
  font-size: 34px;
  font-weight: normal;
  line-height: 40px;
  position: absolute;
  top: -20px;
  left: 10px;
  border: 3.5px solid black;
  padding: 60px 17px 65px 17px;
}

section#about .about-second .about-grain2 .container .about-text3-colorA .about-text3-colorB {
  width: 58px;
  height: 86.5px;
  background-color: #DDCAAE;
  position: absolute;
  bottom: -38px;
  left: 46px;
  z-index: -1;
  -webkit-clip-path: polygon(0% 76%, 0% 100%, 100% 100%, 100% 0%, 68% 0%, 68% 76%);
          clip-path: polygon(0% 76%, 0% 100%, 100% 100%, 100% 0%, 68% 0%, 68% 76%);
}

section#about .about-second .about-grain2 .container .about-text4 {
  width: auto;
  margin-top: -50px;
  margin-left: 260px;
  font-size: 19px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 4px;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  section#about .about-second .about-grain2 .container .about-text4 {
    margin-left: 12vw;
    margin-top: 90px;
    text-align: left;
    max-width: 100vw;
  }
  section#about .about-second .about-grain2 .container .about-text4 p {
    display: inline-block;
  }
}

section#about .about-second .about-grain2 .container .about-text4 .about-text4-color {
  width: 368px;
  height: 72px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 44px;
  left: 28px;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0%, 0% 30%, 14.5% 30%, 14.5% 100%, 100% 100%, 100% 30%, 81% 30%, 81% 0%);
          clip-path: polygon(0% 0%, 0% 30%, 14.5% 30%, 14.5% 100%, 100% 100%, 100% 30%, 81% 30%, 81% 0%);
}

@media (max-width: 768px) {
  section#about .about-second .about-grain2 .container .about-text4 .about-text4-color {
    max-width: 368px;
    width: 30vw;
  }
}

section#about .about-third {
  width: 100%;
  height: 100vh;
  background-image: url("/img/about-Img6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 190px;
  position: relative;
  z-index: -1;
}

@media (max-width: 768px) {
  section#about .about-third {
    width: 100vw;
    background-size: contain;
    margin-top: 160px;
  }
}

section#about .about-third .container .about-third-text {
  position: absolute;
  width: auto;
  left: 50%;
  top: -95px;
  z-index: 50;
  font-size: 19px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 4px;
}

@media (max-width: 768px) {
  section#about .about-third .container .about-third-text {
    position: unset;
    margin-left: 10.5vw;
    margin-top: -100px;
    text-align: left;
    max-width: 100vw;
    display: inline-block;
  }
}

section#about .about-third .container .about-third-text .about-thirdText-color {
  max-width: 683px;
  width: 31.1vw;
  height: 175px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
  top: 42px;
  left: -30px;
}

@media (max-width: 768px) {
  section#about .about-third .container .about-third-text .about-thirdText-color {
    display: none;
  }
}

section#about .about-forth {
  width: 100%;
}

section#about .about-forth .about-forthText-colorA {
  width: 70px;
  height: 255px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  margin-top: -75px;
  margin-left: 47.8%;
  z-index: 50;
}

section#about .about-forth .about-forthText-colorA .about-forth-textA {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  position: absolute;
  top: -20px;
  left: -13px;
  border: 3.5px solid black;
  padding: 60px 17px 60px 17px;
}

section#about .about-forth .about-forthText-colorA-mobile {
  width: 290px;
  height: 630px;
  background-color: none;
  position: relative;
  margin-top: -25px;
  margin-left: 18vw;
  z-index: 50;
  letter-spacing: 5px;
  text-align: center;
}

@media (max-width: 430px) {
  section#about .about-forth .about-forthText-colorA-mobile {
    height: 120vh;
  }
}

section#about .about-forth .about-forthText-colorA-mobile .about-forth-textA-mobile {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid black;
  padding: 15px 60px;
}

@media (max-width: 430px) {
  section#about .about-forth .about-forthText-colorA-mobile .about-forth-textA-mobile {
    max-width: 280px;
    width: 30vw;
  }
}

section#about .about-forth img {
  width: 50vw;
  margin-top: 200px;
  margin-bottom: 87px;
  z-index: -2;
}

@media (max-width: 768px) {
  section#about .about-forth #img-mobile {
    width: 100vw;
    margin-top: 0;
    position: absolute;
    left: 0;
  }
}

section#about .about-forth .about-forth-textB {
  position: relative;
  width: 50vw;
  left: 47.8%;
  top: -615px;
  z-index: 50;
  font-size: 19px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 4px;
}

@media (max-width: 768px) {
  section#about .about-forth .about-forth-textB {
    top: -75vh;
    left: 5vw;
    display: inline-block;
    width: 100%;
    padding: 0 50px;
  }
}

@media (max-width: 430px) {
  section#about .about-forth .about-forth-textB {
    top: -97vh;
  }
}

section#about .about-forth .about-forth-textB .about-forthText-colorB {
  width: 50vw;
  height: 320px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
  top: 50px;
  left: -30px;
}

@media (max-width: 768px) {
  section#about .about-forth .about-forth-textB .about-forthText-colorB {
    display: none;
  }
}

section#about .about-forth .grain3 {
  width: 100%;
  height: 175px;
  margin-top: -540px;
}

@media (max-width: 768px) {
  section#about .about-forth .grain3 {
    display: none;
  }
}

footer {
  background-color: #e5e6e7;
  position: relative;
  /* ↑ 讓icon跟隨 */
  padding-top: 30px;
}

footer .footer-logo {
  text-align: center;
  color: #c39c61;
}

footer .footer-logo img {
  height: 100px;
}

footer .footer-logo .footer-logo-text {
  font-size: 22px;
  letter-spacing: 12px;
  padding-left: 10px;
}

footer .container .footer-information-com {
  display: none;
}

footer .container .footer-information-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #414042;
}

@media (min-width: 410px) {
  footer .container .footer-information-com {
    display: block;
    text-align: center;
    color: #414042;
  }
  footer .container .footer-information-mobile {
    display: none;
  }
}

footer .footer-icon-group {
  position: absolute;
  left: calc(50% - 97.5px);
  bottom: 25%;
  background-color: #e5e6e7;
  text-align: center;
  z-index: 999;
  /* ↑ 讓icon群浮上來蓋過線 */
  /* ↓ 讓線別貼邊 */
  padding: 0 10px;
}

footer .footer-icon-group i {
  font-size: 35px;
  margin: 0 12px;
  color: #414042;
}

footer .footer-icon-group i:hover {
  color: #c39c61;
}

footer .footer-copyright {
  font-size: 15px;
  border-top: 1px solid;
  max-width: 1220px;
  /* ↑ 底線對齊上面LOGO與訂位 */
  margin: 0 auto;
  margin-top: 60px;
  padding: 30px 0;
  text-align: center;
  color: #414042;
}
/*# sourceMappingURL=about.css.map */