@import "var";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: "Merriweather", "Noto Serif TC", serif;
    /* 聽老師說的，先中文，再英文，最後通用(補) */
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-80 {
    margin-bottom: 80px;
}
@import "preloader";
@import "topbtn";
//匯入nav的css樣式
@import "nav";

.banner {
    background-image: url("../img/04banner_hotpot.jpg");
    background-position: center;
    background-size: cover;
    max-width: 90vw;
    height: 557px;
    margin-top: 200px;
    position: relative;
    z-index: 1;

    @media (max-width:768px) {
        background-image: url("../img/04-mobile-banner.jpg");
        max-width: 100%;
    }

    .hotpot_text {
        writing-mode: vertical-lr;
        letter-spacing: 3px;
        text-indent: 3px;
        font-size: 34px;
        color: black;
        border: 3.5px solid black;
        line-height: 38px;
        padding: 67px 20px 67px 17px;
        position: absolute;
        top: -53px;
        h1{
            font-size: 34px;
            margin:0;
        }

        .titlebox {
            background-color: rgba(255, 255, 255, 0.9);
            width: 80px;
            height: 300px;
            position: absolute;
            bottom: -15px;
            right: -15px;
            z-index: -100;
        }
    }

    .news_text.mob {
        display: none;
    }
}

@media (max-width:992px) {
    .banner {
        margin-top: 0;

        .hotpot_text {
            top: calc(50% - 146.5px);

        }
    }
}

@media (max-width:767px) {
    .banner {
        height: 40vh;
        margin-top: 0;

        .hotpot_text {
            writing-mode: unset;
            padding: 13px 76px;
            text-align: center;
            top: unset;
            bottom: -40px;
            left: calc(50% - 155px);

            .titlebox {
                width: 310px;
                height: 80px;
                bottom: -20px;
            }
        }
    }
}

#soup {
    .soup_bg {
        background-image: url("../img/soup_bg.jpg");
        max-width: 90vw;
        height: 700px;
        background-position: center;

        @media (max-width:768px) {
            max-width: 100%;
        }

        .soup_inf_texts {
            position: absolute;
            top: -70px;
            z-index: 1;

            .soup_inf_text {
                writing-mode: vertical-rl;
                letter-spacing: 4px;
                line-height: 28px;
                font-size: 20px;
                background-color: rgba(255, 255, 255, 0.9);
                padding: 30px 50px;

                .soup_inf_text_b {
                    font-weight: bold;
                    padding-right: 10px;
                    position: relative;

                    .line {
                        border: 1px solid black;
                        height: 160px;
                        position: absolute;
                        left: 14px;
                        bottom: 8px;
                    }
                }
            }
        }

        .soup_texts {
            position: absolute;
            top: 600px;
            left: 30px;
            text-align: center;
            font-size: 20px;
            z-index: 3;

            @media (max-width:992px) {
                top: 520px;
            }

            .soup_text {
                border-left: 1px solid black;
                border-right: 1px solid black;
                padding: 0 30px;

            }

            .hr_L {
                border: 0;
                height: 2px;
                background: black;
                width: 20px;
                position: absolute;
                left: -20px;
                top: calc(50% - 12px)
            }

            .hr_R {
                border: 0;
                height: 2.5px;
                background: black;
                width: 200px;
                position: absolute;
                right: -200px;
                top: calc(50% - 12px);

                @media (max-width:992px) {
                    width: 80px;
                    right: -80px;
                }
            }

            .soup_circle {
                font-size: 10px;
                position: absolute;
                left: -30px;
                top: 49%;
            }
        }

        .soup_ps {
            .soup_de_bg {
                width: 100%;
                position: absolute;
                top: 470px;
                z-index: 4;
            }

            .soup_p {
                position: absolute;
                top: 500px;
                left: 80px;
                z-index: 5;

                img {
                    width: 95%;
                    transform: rotate(-5deg);
                    filter: drop-shadow(0px 12px 7px rgba(0, 0, 0, 0.5));
                }
            }
        }
    }

    .soups {
        width: 80px;
        position: absolute;
        cursor: pointer;
        //放圖hover動畫效果，待商討
        // &.soup_hover:hover{
        //     opacity: 1;
            
        // }
    }

    // .soup_hover{
    //     opacity: 0;
    //     transition: opacity 0.4s ease-out;
    // }
    .soups.soup1,
    .soup3,
    .soup5 {
        top: 80px;
    }

    .soups.soup2 {
        top: 100px;
    }

    .soups.soup4 {
        top: 60px;
    }

}

@media (max-width:992px) {
    #soup {
        .soup_bg {
            height: 630px;

            .soup_texts {
                top: 520px;
            }
        }
    }
}

@media (max-width:767px) {
    #soup {
        .soup_bg {
            height: 1500px;
            background-size: cover;

            .soup_inf_texts {
                position: unset;
                margin-top: 80px;

                .soup_inf_text {
                    margin: 0 auto;
                    line-height: 47px;
                    font-size: 20px;
                    background-color: unset;
                    padding: unset;

                    .soup_inf_text_b {

                        .line {
                            left: 24px;
                        }
                    }
                }
            }

            .soup_texts {
                position: absolute;
                top: 850px;
                text-align: center;
                font-size: 20px;
                z-index: 3;
                left: 20%;
                // transform: (translateX(- 50%));

                .soup_text {
                    border-left: 1.5px solid black;
                    border-right: 1.5px solid black;
                    padding: 0 60px;
                }
            }

        }

        .soups.soup1,
        .soup3,
        .soup5 {
            top: 60px;
        }

        .soups.soup2 {
            top: 80px;
        }

        .soups.soup4 {
            top: 40px;
        }
    }
}

@media (max-width:576px) {
    #soup {
        .soup_bg {
            height: 1300px;

            @media (max-width:450px) {
                height: 1200px;
            }

            .soup_texts {
                position: absolute;
                top: 700px;
                text-align: center;
                font-size: 20px;
                z-index: 3;
                left: 22%;

                @media (max-width:450px) {
                    left: 15%;
                    top: 640px;
                }

                @media (max-width:400px) {
                    top: 620px;
                    left: 13%
                }

                // transform: (translateX(- 50%));

                .soup_text {
                    border-left: 1.5px solid black;
                    border-right: 1.5px solid black;
                    padding: 0 30px;
                }
            }

            .soup_ps {
                .soup_de_bg {
                    width: 90%;
                    position: absolute;
                    top: 340px;
                    z-index: 4;
                }

                .soup_p {
                    width: 85%;
                    position: absolute;
                    top: 350px;
                    left: 40px;
                    z-index: 5;

                    img {
                        width: 95%;
                    }
                }
            }

        }

        .soups {
            width: 60px;
            @media (max-width:400px){
                width:55px;
            }
        }
    }
}

#flow {
    margin-top: 340px;

    .flow {
        background-image: url("../img/soup_bg.jpg");
        max-width: 90vw;
        height: 300px;
        position: relative;

        @media (max-width:768px) {
            max-width: 100%;
        }

        .box {
            width: 70%;
            height: 150px;
            background-color: #D6B9A2;
            position: absolute;
            top: -80px;
            left: 80px;

            @media (max-width:1400px) {
                left: 0;
                width: 80%;
            }
        }


        // writing-mode: vertical-lr;
        // letter-spacing: 3px;
        // text-indent: 3px;
        // font-size: 34px;
        // color: black;
        // border: 3.5px solid black;
        // line-height: 38px;
        // padding: 67px 20px 67px 17px;
        // position: absolute;
        // top: -53px;
        .flow_x {
            position: relative;
        }

        .flow_text {
            writing-mode: vertical-lr;
            letter-spacing: 3px;
            text-indent: 3px;
            font-size: 34px;
            color: black;
            border: 3.5px solid black;
            line-height: 38px;
            padding: 67px 20px 67px 17px;
            position: relative;
            top: -100px;
            z-index: 2;
            h1{
                font-size: 34px;
                margin:0;
            }
        }

        .titleboxA {
            background-color: rgba(255, 255, 255, 0.9);
            width: 80px;
            height: 280px;
            position: absolute;
            left: 0px;
            top: -115px;
            z-index: 1;
        }

        .flow_p {
            width: 215px;
            position: absolute;         
        }

        .flow1,
        .flow3 {
            bottom: 80px;
        }

        .flow2 {
            bottom: 10px;
        }

        .de1 {
            position: absolute;
            width: 200px;
            top: 150px;
            left: 180px;
            z-index: 5;

            @media(max-width:768px) {
                width: 150px;
            }

            @media (max-width: 1400px) {
                left: 0;
            }
        }
    }
}

@media (max-width:992px) {
    #flow {
        margin-top: 220px;

        .flow {
            .flow_p {
                width: 200px;
            }

            .flow1 {
                top: -350px;
                bottom: unset;
            }

            .flow3 {
                top: -350px;
                bottom: unset;
            }

            .flow2 {
                top: -300px;
                bottom: unset;
            }
        }
    }
}

@media (max-width:767px) {
    #flow {
        margin-top: 0;

        .flow {
            background-image: url("../img/soup_bg.jpg");
            max-width: 100%;
            height: 800px;
            position: relative;

            .box {
                width: 100%;
                height: 400px;
                background-color: #D6B9A2;
                position: unset;
            }

            .flow_text {
                position: absolute;
                writing-mode: unset;
                padding: 13px 76px;
                top: -435px;
                left: calc(50% - 155px);
            }

            .titleboxA {
                position: absolute;
                width: 300px;
                height: 70px;
                top: -450px;
                left: 90px;
                z-index: 1;
            }

            .flow_p {
                width: 250px;
            }

            .flow2 {
                right: 0;
                top: -145px;
            }

            .flow3 {
                top: 50px;
            }

            .de1 {
                left: unset;
                right: 20px;
                transform: scaleX(-1);
            }
        }
    }
}

@media (max-width:576px) {
    #flow {
        margin-top: 0;

        .flow {
            background-image: url("../img/soup_bg.jpg");
            max-width: 100%;
            height: 700px;
            position: relative;

            .box {
                width: 100%;
                height: 350px;
                background-color: #D6B9A2;
                position: unset;
            }

            .flow_text {
                position: absolute;
                writing-mode: unset;
                padding: 16.5px 79.5px;
                border: 0;
                outline: 3.5px solid black;
                top: -380px;
                left: calc(50% - 155px);
                &::before{
                    content: "";
                    display: block;
                    background-color: rgba(255, 255, 255, 0.9);
                    width: 310px;
                    height: 80px;
                    position: absolute;
                    z-index: -1;
                    left: -10px;
                    top:-20px;
                }
            }

            .titleboxA {
                display: none;
            }

            .flow_p {
                width: 200px;
            }

            .flow1 {
                top: -280px;
            }

            .flow2 {
                right: 0;
                top: -110px;
            }

            .flow3 {
                top: 60px;
            }

            .de1 {
                left: unset;
                right: 20px;
                transform: scaleX(-1);
            }
        }
    }
}


#notice {
    margin: $mt-130 0;
    list-style: none;
    position: relative;

    .notice {
        .notice_text {
            writing-mode: vertical-lr;
            letter-spacing: 3px;
            text-indent: 3px;
            font-size: 34px;
            color: black;
            border: 3.5px solid black;
            line-height: 38px;
            padding: 67px 20px 67px 17px;
            h1{
                font-size: 34px;
                margin: 0;
            }
        }

        ul,
        li {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-size: 20px;
        }

        li:before {
            content: "\2022";
            color: #b89161;
            font-weight: bold;
            display: inline-block;
            width: 1em;
        }

        .cost ul:last-child {
            margin-left: 60px;

            &:before {
                position: absolute;
                content: "";
                display: block;
                height: 95%;
                border-left: 1.5px solid black;
                margin-left: -30px;
            }
        }

        .act li:last-child::after {
            content: "";
            display: block;
            border-bottom: 1px solid black;
            margin-top: 23px;
            // width: 520px;
        }
    }

    .de2 {
        position: absolute;
        width: 250px;
        right: 100px;
        top: 10px;
        z-index: 5;

        @media (min-width:1800px){
            right: 350px;
        }

        @media (max-width: 1400px) {
            right: 0;
        }

        @media (max-width:768px) {
            width: 200px;
            right: 0;
        }
    }

}

@media (max-width:767px) {
    #notice {
        margin: 20px 0 30px 0;
        list-style: none;
        position: relative;

        .notice {
            .notice_text {
                font-size: 34px;
                color: black;
                border: 3.5px solid black;
                line-height: 38px;
                padding: 67px 20px;
            }



            h4 {
                margin: 30px;
            }

            .cost ul:last-child {
                margin: 20px 0 0 0;

                &:before {
                    display: none;
                }

                &:after {
                    content: "";
                    display: block;
                    border-bottom: 1px solid black;
                    margin-top: 23px;
                }
            }

            .act li:last-child::after {
                content: "";
                display: block;
                border-bottom: 1px solid black;
                margin-top: 23px;
                // width: 520px;
            }
        }

        .de2 {
            position: absolute;
            width: 250px;
            right: 100px;
            top: 10px;
            z-index: 5;


            @media (max-width: 1400px) {
                right: 0;
            }

            @media (max-width:768px) {
                width: 200px;
                right: 0;
            }
        }

    }
}


//匯入footer的css樣式
@import "footer";



@media (max-width: 768px) {}



@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width:1800px) {
    .banner {
        max-width: 1800px;
    }

    #soup {
        .soup_bg {
            max-width: 1800px;
        }
    }

    #flow {


        .flow {
            background-image: url("../img/soup_bg.jpg");
            max-width: 1800px;

        }
    }
}

@media (min-width:1920px) {
    .banner {
        max-width: 1800px;
    }

    #soup {
        .soup_bg {
            max-width: 1800px;
        }
    }
}