@import "var";
@import "nav";
body{
    font-family: "Merriweather", "Noto Serif TC", serif;
}
nav{
    top: 0;
    .navbar-brand {
        z-index: 50;
        /* 在menu可浮出 */
    }
    
    .navbar-toggler{
        z-index: 50;
    }
    
    .navbar-nav {
        z-index: 50;
    }
}
.swiper-pagination-bullet-active {
    background-color: #A9000D;
    // 將pagination導覽點點改色
}
.moNey{
    font-size: 15px;
    // 讓所有錢字號都縮小
}
section#menu{
    // ↑ 絕對不能空格
    min-height: 2000px;
    .menu-banner-img{
        width: calc(100% - 64px);
        height: 665.59px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        @media (max-width: 992px) {
            width: 100vw;
            height: 102vh;
        }
        .menu-banner-textR{
            position: absolute;
            right: calc(50vw - 526px);
            top: 125px;
            font-size: 28px;
            border: 4px solid black;
            padding: 68px 18px;
            z-index: 50;
            line-height: 40px;
        }
        .menu-banner-textColorA{
            width: 69px;
            height: 300px;
            background-color: white;
            position: absolute;
            right: calc(50vw - 514px);
            top: 140px;
            z-index: 49;
        }
        .menu-banner-textColorB{
            width: 50px;
            height: 140px;
            clip-path: polygon(0% 0%, 0% 13%, 70% 13%, 70% 100%, 100% 100%, 100% 0%);
            background-color: #E2CFB3;
            position: absolute;
            right: calc(50vw - 540px);
            top: 110px;
            z-index: 49;
        }
        // ↓ 手機版""精選餐點""文字設定
        .menu-banner-textR-mobile{
            position: absolute;
            left: calc(50vw - 170px);
            top: 630px;
            font-size: 28px;
            letter-spacing: 10px;
            border: 4px solid black;
            padding: 15px 90px;
            z-index: 50;
        }
        .menu-banner-textColorA-mobile{
            width: 333px;
            height: 75px;
            background-color: rgba(255, 255, 255, 0.8);
            position: absolute;
            left: calc(50vw - 185px);
            top: 615px;
            z-index: 49;
        }
        .menu-banner-textColorB-mobile{
            width: 144px;
            height: 55px;
            clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 71%, 90% 71%);
            background-color: black;
            position: absolute;
            left: calc(50vw + 40px);
            top: 670px;
            z-index: 49;
        }
        // ↑ 手機版""精選餐點""文字設定
    }
    .menu-bannerBigColor{
        width: 91.2%;
        height: 788.47px;
        background-color: #D4B797;
        position: absolute;
        z-index: 1;
        top: -76px;
        right: 8.8%;
        @media (max-width: 992px) {
            display: none;
        }
    }
    .menu-bannerLeftText{
        position: absolute;
        top: 350px;
        left: 12vw;
        font-size: 25px;
        font-weight: bold;
        z-index: 50;
        .menu-slogan1{
            margin-top: 35px;
            margin-right: 30px;
            line-height: 35px;
        }
        .menu-slogan2{
            line-height: 35px;
        }
        .menu-sloganLineA{
            position: absolute;
            width: 100px;
            height: 55px;
            border-right: 1px solid black;
            left: -30px;
            top: -65px;
        }
        .menu-sloganLineB{
            position: absolute;
            width: 100px;
            height: 130px;
            border-right: 1px solid black;
            left: -85px;
            top: 215px;
        }
    }
    // ↓ 手機版出現(slogan)
    .menu-bannerLeftText-mobile{
        position: absolute;
        top: 750px;
        left: calc(50vw - 85px);
        font-size: 20px;
        z-index: 50;
        font-weight: bold;
        letter-spacing: 8px;
        line-height: 10px;
        .menu-slogan1-mobile{
            margin-left: -30px;
        }
        .menu-slogan2-mobile{
            margin-left: 26px;
        }
        .menu-sloganLineA-mobile{
            position: absolute;
            width: 53px;
            height: 55px;
            border-top: 1px solid black;
            top: 4px;
            left: -99px;
        }
        .menu-sloganLineB-mobile{
            position: absolute;
            width: 100px;
            height: 130px;
            border-top: 1px solid black;
            top: 30px;
            left: 170px;
        }
    }
    // ------------------------

    .container{
        .swiper-container {
            width: 69.5%;
            max-width: 770px;
            padding-top: 350px;
            padding-bottom: 50px;
            z-index: 50;
            clip-path: inset(344px 0 0 0 round 18.8% 17.9% 0 0);
            @media (max-width: 992px) {
                margin-top: 490px;
                width: 43.4%;
                clip-path: inset(344px 0 0 0 round 23% 21.6% 0 0);
            }
            @media (max-width: 768px) {
                width: 300px;
            }
            .swiper-wrapper {
                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    max-width: 300px;
                    width: 300px;
                    height: 540px;
                    border-top-left-radius: 150px;
                    border-top-right-radius: 150px;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background-color: #B4000D;
                    color: white;
                    font-weight: bold;
                }
                #slideA {
                    // ↓ 加陰影 右 下
                    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
                    .menuA-topText1{
                        .A-1{
                            margin-left: 10px;
                            font-size: 50px;
                            margin-top: -38px;
                            font-style: italic;
                            font-weight: bold;
                            color: #C09B7F;
                        }
                    }
                    .menuA-topText2{
                        font-size: 25px;
                        font-weight: normal;
                        color: white;
                        margin-top: -10px;
                        letter-spacing: 2px;
                        .markA-img{
                            width: 20px;
                            position: absolute;
                            right: 75px;
                            top: 70px;
                        }
                    } 
                    .menu-A{
                        width: 380px;
                        transform: rotate(-6deg);
                        margin-left: -25px;
                        // box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
                    }
                    .menuA-topText3{
                        margin-top: -35px;
                        margin-left: 35px;
                        text-align: center;
                        font-weight: lighter;
                        font-size: 20px;
                        line-height: 2;
                        border-top: 1px solid #C39C61;
                        border-bottom: 1px solid #C39C61;
                        width: 80%;
                        padding: 20px 0;
                    }
                }
                #slideB {
                    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
                    .menuB-topText1{
                        .B-1{
                            margin-left: 10px;
                            font-size: 50px;
                            margin-top: -38px;
                            font-style: italic;
                            font-weight: bold;
                            color: #C09B7F;
                        }
                    }
                    .menuB-topText2{
                        font-size: 25px;
                        font-weight: normal;
                        color: white;
                        margin-top: -10px;
                        letter-spacing: 2px;
                        .markB-img{
                            width: 20px;
                            position: absolute;
                            right: 75px;
                            top: 70px;
                        }
                    } 
                    .menu-B{
                        width: 270px;
                        margin-left: 10px;
                        margin-top: 10px;
                    }
                    .menuB-topText3{
                        margin-top: -10px;
                        margin-left: 34px;
                        text-align: center;
                        font-weight: lighter;
                        font-size: 20px;
                        line-height: 2;
                        border-top: 1px solid #C39C61;
                        border-bottom: 1px solid #C39C61;
                        width: 80%;
                        padding: 20px 0;
                    }
                }
                #slideC {
                    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
                    .menuC-topText1{
                        .C-1{
                            margin-left: 10px;
                            font-size: 50px;
                            margin-top: -38px;
                            font-style: italic;
                            font-weight: bold;
                            color: #C39C61;
                        }
                    }
                    .menuC-topText2{
                        font-size: 25px;
                        font-weight: normal;
                        color: white;
                        margin-top: -10px;
                        letter-spacing: 2px;
                        .markC-img{
                            width: 20px;
                            position: absolute;
                            right: 75px;
                            top: 70px;
                        }
                    } 
                    .menu-C{
                        width: 450px;
                        margin-top: -10px;
                        margin-left: -60px;
                        transform: rotate(-12deg);
                    }
                    .menuC-topText3{
                        margin-top: -65px;
                        margin-left: 35px;
                        text-align: center;
                        font-weight: lighter;
                        font-size: 20px;
                        line-height: 2;
                        border-top: 1px solid #C39C61;
                        border-bottom: 1px solid #C39C61;
                        width: 80%;
                        padding: 20px 0;
                    }
                }
            }
        }
        .swiper-button-next{
            right: calc(50vw - 470px);
            top: 88.3%;
            background-image: none;
            @media (max-width: 992px) {
                top: 175%;
                right: 10vw;
            }
            @media (max-width: 768px) {
                right: 10px;
            }
            i{
                font-size: 40px;
                color: #A9000D;
            }
        }
        .swiper-button-prev{
            left: calc(50vw - 470px);
            top: 88.3%;
            background-image: none;
            @media (max-width: 992px) {
                top: 175%;
                left: 10vw;
            }
            @media (max-width: 768px) {
                left: 10px;
            }
            i{
                font-size: 40px;
                color: #A9000D;
            }
        }
    }
    .menu-bottom{
        padding: 140px 0; 
        width: 100%;
        position: relative;
        .menu-bottomL-text{
            font-size: 28px;
            line-height: 60px;
            position: absolute;
            left: 101px;
            border: 4px solid black;
            padding: 50px 18px;
            .menu-bottomL-color2{
                width: 60px;
                height: 75px;
                background-color: #E2CFB3;
                position: absolute;
                top: 165px;
                left: -15px;
                clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 78%, 20% 78%, 20% 0%);
                z-index: -1;
            }
        }
        // 手機版菜單標題
        .menu-bottomL-text-mobile{
            font-size: 28px;
            position: absolute;
            left: calc(50% - 125px);
            top: 20px;
            border: 2px solid black;
            padding: 10px 50px 10px 70px;
            letter-spacing: 35px;
            .menu-bottomL-color1-mobile{
                width: 220px;
                height: 70px;
                background-color: #E5E6E7;
                position: absolute;
                top: 10px;
                z-index: -1;
                left: 40px;
            }
            .menu-bottomL-color2-mobile{
                width: 110px;
                height: 47px;
                background-color: #E2CFB3;
                position: absolute;
                top: -12px;
                left: -15px;
                clip-path: polygon(0% 0%, 0% 100%, 12% 100%, 12% 22%, 100% 22%, 100% 0%);
                z-index: -1;
            }
        }
        .container{
            max-width: 800px;
            #menu-bottom-group{
                #menu-bottomA1{
                    padding: 0;
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        border-right: 1px solid black;
                        @media (max-width: 576px) {
                            border-right: none;
                        }
                        img{
                            width: 95%;
                            margin-top: 15px;
                            margin-left: calc(50% - 126.18px);
                            @media (max-width: 992px) and (min-width: 576px) {
                                width: 40vw;
                                margin-left: 4.5vw;
                                margin-top: 25px;
                                max-width: 326.39px;
                            }
                            @media (max-width: 576px) {
                                width: 85vw;
                                margin-left: 5.5vw;
                            }
                        }
                        .card-body{
                            padding-bottom: 0;
                            // 消除預設讓下面線能與右邊對齊
                            h5{
                                margin-top: -1px;
                                padding-left: 10px;
                                font-weight: bold;
                                letter-spacing: 2px;
                                @media (max-width: 992px) and (min-width: 576px) {
                                    margin-top: -11px;
                                }
                                .menuA1-text1{
                                    font-size: 10px;
                                    letter-spacing: 0.5px;
                                }
                            }
                            .menuA1-text2{
                                border-top: 0.25px solid black;
                                border-bottom: 0.25px solid black;
                                text-align: end;
                                font-size: 25px;
                                font-weight: bold;
                                margin-left: 10px;
                                margin-right: 10px;
                                // 讓底2線對齊上面標題字
                            }
                        }
                    }
                }
                #menu-bottomA2{
                    padding: 0;
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        border-right: 1px solid black;
                        @media (max-width: 992px) {
                            border-right: none;
                        }
                        img{
                            width: 80%;
                            margin-top: 25px;
                            // 內容往下推對齊左邊
                            margin-left: calc(50% - 106.26px);
                            @media (max-width: 992px) and (min-width: 576px) {
                                width: 35vw;
                                margin-left: 7vw;
                                max-width: 285.59px;
                            }
                            @media (max-width: 576px) {
                                margin-left: 10vw;
                            }
                        }
                        .card-body{
                        padding-bottom: 0;
                        // 消除預設讓下面線能與右邊對齊
                        h5{
                            margin-top: 8px;
                            margin-left: 10px;
                            font-weight: bold;
                            letter-spacing: 2px;
                            .menuA2-text1{
                                font-size: 10px;
                                letter-spacing: 0.5px;
                            }
                        }                            
                        .menuA2-text2{
                            border-top: 0.25px solid black;
                            border-bottom: 0.25px solid black;
                            text-align: end;
                            font-size: 25px;
                            font-weight: bold;
                            margin-left: 10px;
                            margin-right: 10px;
                            }
                        }
                    }
                }
                #menu-bottomA3{
                    padding: 0;
                    @media (max-width: 992px) and (min-width: 576px) {
                        margin-top: 20px;
                    }
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        @media (max-width: 992px) and (min-width: 576px) {
                            border-right: 1px solid black;
                        }
                        img{
                            margin-top: 15px;
                            margin-left: calc(50% - 99.99px);
                            @media (max-width: 992px) and (min-width: 576px) {
                                margin-left: 6.5vw;
                                margin-top: 40px;
                                max-width: 298.88px;
                            }
                            @media (max-width: 576px) {
                                margin-left: 13vw;
                            }
                        }
                        .card-body{
                        padding-bottom: 0;
                        // 消除預設讓下面線能與右邊對齊
                        h5{
                            margin-top: -3px;
                            font-weight: bold;
                            letter-spacing: 2px;
                            margin-left: 10px;
                            @media (max-width: 992px) and (min-width: 576px) {
                                margin-top: -9px;
                            }
                            .menuA3-text1{
                                font-size: 10px;
                                letter-spacing: 2px;
                            }
                        }                            
                        .menuA3-text2{
                            border-top: 0.25px solid black;
                            border-bottom: 0.25px solid black;
                            text-align: end;
                            font-size: 25px;
                            font-weight: bold;
                            margin-left: 10px;
                            }
                        }
                    }
                }
                #menu-bottomB1{
                    margin-top: 20px;
                    padding: 0;
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        border-right: 1px solid black;
                        @media (max-width: 992px) {
                            border-right: none;
                        }
                        img{
                            width: 80%;
                            margin-left: calc(50% - 103px);
                            margin-top: 21px;
                            @media (max-width: 992px) and (min-width: 576px) {
                                width: 37vw;
                                margin-left: 7vw;
                                max-width: 301.91px;
                            }
                            @media (max-width: 576px) {
                                margin-left: 12vw;
                            }
                        }
                        .card-body{
                            padding-bottom: 0;
                            // 消除預設讓下面線能與右邊對齊
                            h5{
                                padding-left: 10px;
                                font-weight: bold;
                                letter-spacing: 2px;
                                margin-top: 8px;
                                .menuB1-text1{
                                    font-size: 10px;
                                    letter-spacing: 0.5px;
                                }
                            }
                            .menuB1-text2{
                                border-top: 0.25px solid black;
                                border-bottom: 0.25px solid black;
                                text-align: end;
                                font-size: 25px;
                                font-weight: bold;
                                margin-left: 10px;
                                margin-right: 10px;
                                // 讓底2線對齊上面標題字
                            }
                        }
                    }
                }
                #menu-bottomB2{
                    padding: 0;
                    margin-top: 20px;
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        border-right: 1px solid black;
                        @media (max-width: 576px) {
                            border-right: none;
                        }
                        img{
                            width: 80%;
                            margin-top: 35px;
                            // 內容往下推對齊左邊
                            margin-left: calc(50% - 106px);
                            @media (max-width: 992px) and (min-width: 576px) {
                                margin-left: 5.3vw;
                                margin-top: 30px;
                                max-width: 318.8px;
                            }
                            @media (max-width: 576px) {
                                margin-left: 10vw;
                            }
                        }
                        .card-body{
                        padding-bottom: 0;
                        // 消除預設讓下面線能與右邊對齊
                        h5{
                            padding-left: 10px;
                            font-weight: bold;
                            letter-spacing: 2px;
                            margin-top: 8px;
                            .menuB2-text1{
                                font-size: 10px;
                                letter-spacing: 0.5px;
                            }
                        }                            
                        .menuB2-text2{
                            border-top: 0.25px solid black;
                            border-bottom: 0.25px solid black;
                            text-align: end;
                            font-size: 25px;
                            font-weight: bold;
                            margin-left: 10px;
                            margin-right: 10px;
                            }
                        }
                    }
                }
                #menu-bottomB3{
                    padding: 0;
                    margin-top: 20px;
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        img{
                            width: 100%;
                            margin-top: 50px;
                            margin-left: calc(50% - 125px);
                            transform: rotate(10deg);
                            @media (max-width: 992px) and (min-width: 576px) {
                                width: 45vw;
                                margin-left: 4vw;
                                margin-top: 50px;
                                margin-bottom: 25px;
                                max-width: 367px;
                            }
                            @media (max-width: 576px) {
                                margin-left: 5vw;
                                width: 90vw;
                            }
                        }
                        .card-body{
                        padding-bottom: 0;
                        // 消除預設讓下面線能與右邊對齊
                        h5{
                            margin-left: 10px;
                            font-weight: bold;
                            letter-spacing: 2px;
                            margin-top: 23px;
                            .menuB3-text1{
                                font-size: 10px;
                                letter-spacing: 0.5px;
                            }
                        }                            
                        .menuB3-text2{
                            border-top: 0.25px solid black;
                            border-bottom: 0.25px solid black;
                            text-align: end;
                            font-size: 25px;
                            font-weight: bold;
                            margin-left: 10px;
                            }
                        }
                    }
                }
                #menu-bottomC1{
                    padding: 0;
                    margin-top: 20px;
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        border-right: 1px solid black;
                        @media (max-width: 576px) {
                            border-right: none;
                        }
                        img{
                            width: 90%;
                            margin-top: 36px;
                            margin-left: calc(50% - 119.54px);
                            @media (max-width: 992px) and (min-width: 576px) {
                                width: 40vw;
                                margin-left: 4.5vw;
                                margin-top: 57px;
                                max-width: 326.39px;
                            }
                            @media (max-width: 576px) {
                                margin-left: 5vw;
                            }
                        }
                        .card-body{
                            padding-bottom: 0;
                            // 消除預設讓下面線能與右邊對齊
                            h5{
                                padding-left: 10px;
                                font-weight: bold;
                                letter-spacing: 2px;
                                .menuC1-text1{
                                    font-size: 10px;
                                    letter-spacing: 0.5px;
                                }
                            }
                            .menuC1-text2{
                                border-top: 0.25px solid black;
                                border-bottom: 0.25px solid black;
                                text-align: end;
                                font-size: 25px;
                                font-weight: bold;
                                margin-left: 10px;
                                margin-right: 10px;
                                // 讓底2線對齊上面標題字
                            }
                        }
                    }
                }
                #menu-bottomC2{
                    padding: 0;
                    margin-top: 20px;
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        border-right: 1px solid black;
                        @media (max-width: 992px) {
                            border-right: none;
                        }
                        img{
                            width: 70%;
                            margin-top: 0;
                            // 內容往下推對齊左邊
                            margin-left: calc(50% - 92.975px);
                            @media (max-width: 992px) and (min-width: 576px) {
                                width: 32vw;
                                margin-left: 8vw;
                                max-width: 261.11px;
                            }
                            @media (max-width: 576px) {
                                margin-left: 16vw;
                            }
                        }
                        .card-body{
                        padding-bottom: 0;
                        // 消除預設讓下面線能與右邊對齊
                        h5{
                            padding-left: 10px;
                            font-weight: bold;
                            letter-spacing: 2px;
                            .menuC2-text1{
                                font-size: 10px;
                                letter-spacing: 0.5px;
                            }
                        }                            
                        .menuC2-text2{
                            border-top: 0.25px solid black;
                            border-bottom: 0.25px solid black;
                            text-align: end;
                            font-size: 25px;
                            font-weight: bold;
                            margin-left: 10px;
                            margin-right: 10px;
                            }
                        }
                    }
                }
                #menu-bottomC3{
                    padding: 0;
                    margin-top: 20px;
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        @media (max-width: 992px) and (min-width: 576px) {
                            border-right: 1px solid black;    
                        }
                        img{
                            width: 85%;
                            margin-top: 15px;
                            margin-left: calc(50% - 125px);
                            @media (max-width: 992px) and (min-width: 576px) {
                                width: 40vw;
                                margin-left: 3vw;
                                margin-top: 10px;
                                max-width: 326.39px;
                            }
                            @media (max-width: 576px) {
                                margin-left: 4vw;
                            }
                        }
                        .card-body{
                        padding-bottom: 0;
                        // 消除預設讓下面線能與右邊對齊
                        h5{
                            padding-left: 10px;
                            font-weight: bold;
                            letter-spacing: 2px;
                            margin-top: 4px;
                            .menuC3-text1{
                                font-size: 10px;
                                letter-spacing: 0.5px;
                            }
                        }                            
                        .menuC3-text2{
                            border-top: 0.25px solid black;
                            border-bottom: 0.25px solid black;
                            text-align: end;
                            font-size: 25px;
                            font-weight: bold;
                            margin-left: 10px;
                            }
                        }
                    }
                }
                #menu-bottomD1{
                    padding: 0;
                    margin-top: 20px;
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        border-right: 1px solid black;
                        @media (max-width: 992px) {
                            border-right: none;
                        }
                        img{
                            width: 90%;
                            margin-top: 65px;
                            margin-left: calc(50% - 126.18px);
                            transform: rotate(12deg);
                            @media (max-width: 992px) and (min-width: 576px) {
                                width: 45vw;
                                margin-left: 2vw;
                                margin-top: 40px;
                                margin-bottom: 13px;
                                max-width: 365px;
                            }
                            @media (max-width: 576px) {
                                margin-left: 5vw;
                            }
                        }
                        .card-body{
                            padding-bottom: 0;
                            // 消除預設讓下面線能與右邊對齊
                            h5{
                                padding-left: 10px;
                                font-weight: bold;
                                letter-spacing: 2px;
                                margin-top: 5px;
                                .menuD1-text1{
                                    font-size: 10px;
                                    letter-spacing: 0.5px;
                                }
                            }
                            .menuD1-text2{
                                border-top: 0.25px solid black;
                                border-bottom: 0.25px solid black;
                                text-align: end;
                                font-size: 25px;
                                font-weight: bold;
                                margin-left: 10px;
                                margin-right: 10px;
                                // 讓底2線對齊上面標題字
                            }
                        }
                    }
                }
                #menu-bottomD2{
                    padding: 0;
                    margin-top: 20px;
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        border-right: 1px solid black;
                        @media (max-width: 576px) {
                            border-right: none;
                        }
                        img{
                            width: 80%;
                            margin-top: 7px;
                            // 內容往下推對齊右邊
                            margin-left: calc(50% - 106.26px);
                            @media (max-width: 992px) and (min-width: 576px) {
                                width: 35vw;
                                margin-left: 7.5vw;
                                margin-top: 10px;
                                max-width: 285.59px;
                            }
                            @media (max-width: 576px) {
                                margin-left: 11vw;
                            }
                        }
                        .card-body{
                        padding-bottom: 0;
                        // 消除預設讓下面線能與右邊對齊
                        h5{
                            padding-left: 10px;
                            font-weight: bold;
                            letter-spacing: 2px;
                            margin-top: 3px;
                            .menuD2-text1{
                                font-size: 10px;
                                letter-spacing: 0.5px;
                            }
                        }                            
                        .menuD2-text2{
                            border-top: 0.25px solid black;
                            border-bottom: 0.25px solid black;
                            text-align: end;
                            font-size: 25px;
                            font-weight: bold;
                            margin-left: 10px;
                            margin-right: 10px;
                            }
                        }
                    }
                }
                #menu-bottomD3{
                    padding: 0;
                    margin-top: 20px;
                    .card{
                        border: none;
                        border-radius: 0;
                        // 拿掉預設
                        img{
                            width: 80%;
                            margin-top: 32px;
                            margin-left: calc(50% - 106.655px);
                            @media (max-width: 992px) and (min-width: 576px) {
                                width: 36vw;
                                margin-left: 7vw;
                                margin-top: 30px;
                                max-width: 293.75px;
                            }
                            @media (max-width: 576px) {
                                margin-left: 10vw;
                            }
                        }
                        .card-body{
                        padding-bottom: 0;
                        // 消除預設讓下面線能與右邊對齊
                        h5{
                            padding-left: 10px;
                            font-weight: bold;
                            letter-spacing: 2px;
                            @media (max-width: 992px) and (min-width: 576px) {
                                margin-top: 6px;
                            }
                            .menuD3-text1{
                                font-size: 10px;
                                letter-spacing: 0.5px;
                            }
                        }                            
                        .menuD3-text2{
                            border-top: 0.25px solid black;
                            border-bottom: 0.25px solid black;
                            text-align: end;
                            font-size: 25px;
                            font-weight: bold;
                            margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@import "footer";