$mainbg: #c39c61;
// 主色調顏色
$footerbg: #e5e6e7;
//footer背景色

* {
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", "Noto Serif TC", serif;
    /* 聽老師說的，先中文，再英文，最後通用(補) */
}

@media (min-width: 1200px) {
    nav .container {
        max-width: 1240px;
        /* ↑ 設計師要求NAV要再貼邊些，因此不能用預設 */
    }
}

// navbar
nav {
    background-color: rgba(255, 255, 255, 0.5);
    .navbar-brand {
        padding: 0;

        #nav-logo-img {
            width: 200px;
        }
    }

    .maxwww {
        min-width: 85px;
        /* 版面縮減才不會變形 */
    }

    #book-border {
        margin: auto 0;
        border-top: 4px solid black;
        border-bottom: 4px solid black;
        padding: 2px 0;

        .book-side {
            border-left: 2px solid black;
            border-right: 2px solid black;
            padding: 0 3px;

            #book-text {
                background-color: black;
                padding: 1px 8px;
                color: #c39c61;
                font-size: 16px;
            }
        }
    }
}

// footer
footer {
    background-color: #e5e6e7;
    position: relative;
    /* ↑ 讓icon跟隨 */
    padding-top: 30px;

    .footer-logo {
        text-align: center;
        color: #c39c61;

        img {
            height: 100px;
        }

        .footer-logo-text {
            font-size: 22px;
            letter-spacing: 12px;
            padding-left: 10px;
        }
    }

    .footer-information {
        p {
            text-align: center;
        }
    }

    .footer-icon-group {
        position: absolute;
        left: calc(50% - 97.5px);
        bottom: 25%;
        background-color: #e5e6e7;
        text-align: center;
        z-index: 999;
        /* ↑ 讓icon群浮上來蓋過線 */
        /* ↓ 讓線別貼邊 */
        padding: 0 10px;

        i {
            font-size: 35px;
            margin: 0 12px;
        }
    }

    .footer-copyright {
        font-size: 15px;
        border-top: 1px solid;
        max-width: 1220px;
        /* ↑ 底線對齊上面LOGO與訂位 */
        margin: 0 auto;
        margin-top: 60px;
        padding: 30px 0;
        text-align: center;
    }
}