@import "color";
@import "var";

* {
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", "Noto Serif TC", serif;
    /* 聽老師說的，先中文，再英文，最後通用(補) */
}


//匯入nav的css樣式
@import "nav";

.banner {
    background-image: url("../img/news.jpg");
    background-position: center;
    background-size: cover;
    width: 90vw;
    height: 400px;
    margin-top: $mt-130;
    position: relative;
    z-index: 1;

    .news_text {
        font-size: $titletext;
        color: black;
        writing-mode: vertical-lr;
        border: 5px solid black;
        letter-spacing: 40px;
        //消除最後一字的字距
        text-indent: 40px;
        text-align: center;
        padding: 20px;
        position: absolute;
        top: -60px;

        .titlebox {
            background-color: $footerbg;
            width: 80px;
            height: 350px;
            position: absolute;
            bottom: -15px;
            left: 20px;
            z-index: -100;
        }
    }
}

#news{
    .newsbtn_group{
        .newsbtn{
            border:5px solid black;
            padding:10px 20px;
            margin: 50px 10px;
        }
    }
}

//匯入footer的css樣式
@import "footer";

@media (min-width: 1200px) {
    nav .container {
        max-width: 1240px;
        /* ↑ 設計師要求NAV要再貼邊些，因此不能用預設 */
    }
}