@import "var";

* {
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", "Noto Serif TC", serif;
    /* 聽老師說的，先中文，再英文，最後通用(補) */
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-80 {
    margin-bottom: 80px;
}


//匯入nav的css樣式
@import "nav";

.banner {
    background-image: url("../img/03banner_news.jpg");
    background-position: center;
    background-size: cover;
    max-width: 90vw;
    height: 557px;
    margin-top: $mt-130;
    position: relative;
    z-index: 1;

    .news_text {
        font-size: 34px;
        color: black;
        border: 3.5px solid black;
        line-height: 38px;
        padding: 67px 20px;
        position: absolute;
        top: -60px;

        .titlebox {
            background-color: rgba(255, 255, 255, 0.9);
            width: 80px;
            height: 300px;
            position: absolute;
            bottom: -15px;
            right: -15px;
            z-index: -100;
        }
    }

    .news_text.mob {
        display: none;
    }
}

#news {
    .newsbtn_group {
        .newsbtn {
            border: 5px solid black;
            padding: 10px 20px;
            margin: 50px 30px;
            letter-spacing: 5px;
            text-indent: 10px;
            font-size: $titletext2;
            cursor: pointer;
            display: none;
            transition: 0.4s;
        }

        .newsbtn.enable {
            background-color: $mainbg;
            color: white;
            border: 5px solid $mainbg;
        }
    }

    .news_group {
        a {
            overflow: hidden;
        }

        img {
            width: 100%;
            transition: 0.4s;
        }

        img:hover {
            transform: scale(1.2, 1.2);
        }

        .card {
            border: 0;
            border-radius: 0;

            .card-img-top {
                border-radius: 0;
            }

            .card-body {
                border-right: 1px solid gray;

                .news_Type {
                    background-color: $wowred;
                    //分類小圖的大小
                    width: 60px;
                    height: 60px;
                    border-radius: 18px 0;

                    .news_Type_Text {
                        font-size: 18px;
                        color: white;
                    }
                }

                .news_Title {
                    font-size: $titletext2;
                    line-height: 30px;
                    letter-spacing: 8px;
                    font-weight: bold;
                }
            }
        }

        .row {
            display: none;
        }

        .row.enable {
            display: flex;
        }
    }
}

#model_group {
    .modal-body {
        p {
            font-size: $titletext2;
        }
    }
}

//匯入footer的css樣式
@import "footer";

@media (max-width:992px) {
    .banner {
        margin-top: 0;
        .news_text {
            top: calc(50% - 146.5px);

        }
    }

    #model_group {
        .modal-body {
            h2 {
                padding: 20px 0;
                margin: 0;
            }
        }
    }
}

@media (max-width: 768px) {

    .banner {
        max-width: 100%;
        height: 40vh;
        margin-top: 0;
        background-image: url("/img/03-mobile-banner.jpg");

        .news_text {
            font-size: $titletext;
            background-color: white;
            color: black;
            writing-mode: unset;
            border: 5px solid black;
            letter-spacing: 20px;
            //消除最後一字的字距
            text-indent: 20px;
            text-align: center;
            padding: 10px;
            position: absolute;
            top: unset;
            bottom: -36px;
            left: calc(50% - 153.25px);
            display: none;
        }

        .news_text.mob {
            display: block;
        }
    }

    #news {
        margin-top: 50px;

        .news_group {
            img {
                width: 100%;
            }

            .card {
                border: 0;
                border-radius: 0;

                .card-img-top {
                    border-radius: 0;
                }

                .card-body {
                    border-right: 1px solid gray;

                    .news_Type {
                        background-color: $wowred;
                        //分類小圖的大小
                        width: 80px;
                        height: 80px;
                        border-radius: 18px 0;

                        .news_Type_Text {
                            font-size: 18px;
                            color: white;
                        }
                    }

                    .news_Title {
                        font-size: $titletext2;
                        line-height: 40px;
                        letter-spacing: unset;
                    }
                }
            }

            .row {
                display: none;
            }

            .row.enable {
                display: flex;
            }
        }

        #collapseNews {
            position: absolute;
            z-index: 99;
            width: 100%;
        }

        .mobile_Type {
            text-align: center;
            font-size: $titletext;
            letter-spacing: 20px;
            text-indent: 20px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 10px 0;
            transition: 0.4s;
        }

        .mobile_Type.enable {
            background-color: rgba(195, 156, 97, 1);
        }
    }
}

@media (min-width:1920px) {
    .banner {
        max-width: 1800px;
    }
}




@media (min-width: 768px) {
    #news {
        #collapseNews {
            display: none;
        }

        .newsbtn_group {
            .newsbtn {
                display: flex;
            }
        }

        .news_group {
            .card {
                .card-body {
                    .news_Title {
                        font-size: $titletext2;
                        line-height: 30px;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #news {
        .news_group {
            .card-body {
                .news_Title {
                    font-size: $titletext2;
                    line-height: 30px;
                    letter-spacing: 8px;
                }
            }
        }
    }
}

@media (min-width:1800px) {
    .banner {
        max-width: 1800px;
    }
}